<body class="conformationscreen">
  <div id="snowshoe-stamp-screen" class="container">
    <div class="ok-icon"></div>
    <h1 class="uppercase">Congratulations!</h1>
    <p class="middle-line">You earned <strong>2€</strong> for your next visit<br/> at <strong>Grenander Restaurant</strong></p>
    <form method="get" action="email-sent.html">
      <p>Enter your email and save your credit.</p>
      <input type="email" id="email" name="email" placeholder="example@email.com" class="form-control">
      <button type="submit" id="cancel" class="btn btn-default btn-lg btn-block yellow-btn">Save 2€</button>
    </form>
  </div>
  <div class="bottom">
    <ul class="menu">
      <li><a href="#">Signin</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Legal</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Security</a></li>
    </ul>
  </div>
</body>
