<body class="startscreen">
  <div id="snowshoe-stamp-screen" class="container">
    <h1>Earn simply cash <br/> at your favorite place!</h1>
    <p>Enter your bill amount, add a note<br/> and confirm it. Magic will happen.</p>
    <div class="price">
  <form action="waiting-confirmation" method="get">
      <input type="text" id="price-field" name="price" value="€ 0,00">
      <input type="text" id="note" name="note" placeholder="Add note" class="form-control">
      <div class="custom-select">
        <div id="select-text">Public</div>
        <div id="select-button"></div>
        <ul class="select-menu">
          <li>Public</li>
          <li>Private</li>
        </ul>
      </div>
      <button type="submit" class="btn btn-default btn-lg btn-block yellow-btn">submit</button>
  </form>
    </div>
  </div>
  <div class="bottom">
    <ul class="menu">
      <li><a href="#">Signin</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Legal</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Security</a></li>
    </ul>
  </div>
</body>
